<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To SurfUpload!</h1>
             <p>View the files uploaded by you...</p>
             <p>
                <a class="btn btn-primary btn-large" href="/api/media/upload">Add New Upload</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% uploads.forEach(function(upload){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <video src="<%= upload.url %>" type="video/mp4" width="100%" controls="controls"></video>
                   <div class="caption">
                       <h4><%= upload.name %></h4>
                       <p><%= upload.description %></p>
                   </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
