<% include ./partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Login</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/login" method="post">
                <div class="form-group">
                    <input class="form-control" id="uname" type="text" name="username" placeholder="username" onchange="handleChange()">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <a id="forgot" href="">Forgot password (Enter your email ID above)?</a><br/><br/>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
            </form>
            <script>
                function handleChange(){
                    document.getElementById("forgot").href="/login/reset?email="+document.getElementById("uname").value;
                }
            </script>
            <a href="/api/media">Go Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>
